.item {
    height: 100px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: --random-background;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 20px;
    margin-top: 2px;
}

.item-scroll-demo {
    border-bottom: 1px solid;
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}